<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/profile.css">
<div class="wash-info">
    <h2>Wash Details of wash ID <%= wash._id %></h2>
    <div class="wash-detials">
        <p><strong>Recored For: </strong>  <%- wash.customer.name.toUpperCase() %></p>
        <p><strong>Recorded by: </strong> <%= wash.staff.toUpperCase() %></p>
        <p><strong>Wash Type: </strong> <%- wash.wash_types.join(", ") %></p>
        <p><strong>Wash Description:</strong> <%- wash.description %></p>
        <p><strong>Payment Status: </strong> <%- wash.payment.status.toUpperCase() %></p>
        <p><strong>Recorded on: </strong> <%- wash.date_of_wash.toDateString().toUpperCase() %></p>
        <button class="print-btn">Print</button>
    </div>
</div>


<%- include('../partials/footer.ejs') %>