<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/profile.css">
<div class="container">
    <div class="user-profile">
        <div class="profile-img">
            <img src="../userm.png" alt="">
            <p class="username"><%= customer.fullname %> </p>
        </div>
        <div class="userinfo">
            <a class="btn" href="/customers/<%= customer._id %>/washes/new">Add new wash</a>
            <p>Customer</p>
            <p><%= customer.address %></p>
            <p><%= customer.email %></p>
            <p><%= customer.phone %></p>
            <p>Registered on <%= customer.date_registered.toDateString() %></p>
            <hr>
            <h2>Summary</h2>
            <p>No. of Washes made: <strong><%= customer.washes.length %></strong></p>
        </div>
    </div>

    <div class="washes-info">
        <h2>All Washes Made By <%= customer.fullname %></h2>
        <div class="washes">
            <% customer.washes.forEach( wash => { %>
                <div class="wash">
                    <a href="/washes/<%= wash._id %>">
                        <p>Wash ID: <%= wash._id %>.</p>
                        <p>Date Recorded: <%= wash.date_of_wash.toDateString() %>.</p>
                        <% if (wash.payment.status === "not-paid") { %>
                        <p><a class="btn" href="/customers/<%= customer._id %>/washes/<%= wash._id %>/payment/new">Make Payment</a></p>
                        <% } %>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>