<%- include('../partials/header.ejs') %>
<div class="customer-container">
    <% staffs.forEach(staff => { %>
        <div class="customer">
            <h2><%= staff.fullname %></h2>
            <p>Email: <%= staff.username %></p>
            <p>Phone Number: <%= staff.phone %></p>
            <p>Address: <%= staff.address %></p>
            <p class="">
                <a class="btn" href="/staffs/<%= staff._id %>">See Full profile</a>
            </p>
        </div>
    <% }) %>
</div>
<%- include('../partials/footer.ejs') %>