<%- include('../partials/header.ejs') %>
<h1>This is the Page where we can see all Users</h1>
<% staffs.forEach(staff => { %>
    <div>
        <p>Name: <%= staff.fullname %></p>
        <p>Phone: <%= staff.phone %></p>
        <p>Address: <%= staff.address %></p>
        <p>Email: <%= staff.username %></p>
        <p>Date Staff Registered: <%= staff.date_staff_resumed.toDateString() %></p>
    </div>
    <hr>
<% }) %>
<%- include('../partials/footer.ejs') %>