<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/profile.css">
<div class="container">
    <div class="user-profile">
        <div class="profile-img">
            <img src="../userm.png" alt="">
            <p class="username"><%= staff.fullname %></p>
        </div>
        <div class="userinfo">
            <p>Junior Staff</p>
            <p><%= staff.address %></p>
            <p><%= staff.username %></p>
            <p><%= staff.phone %></p>
            <p>Resumed on <%= staff.date_staff_resumed.toDateString() %></p>
            <hr>
            <h2>Summary</h2>
            <p>No. of Washes recorded: <strong><%= washes.length %></strong></p>
            <p>No. of Payments recorded: <strong><%= payments.length %></strong></p>
        </div>
    </div>

    <div class="washes-info">
        <h2>All Washes Recorded By You</h2>
        <div class="washes">
            <% washes.forEach( wash => { %>
                <div class="wash">
                    <a href="/washes/<%= wash._id %>">
                        <p>Wash ID: <%= wash._id %>.</p>
                        <p>Date Recorded: <%= wash.date_of_wash.toDateString() %>.</p>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>

